body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: rgb(250, 250, 250);
}
.clockContainer{
    position: relative;
    max-width: 350px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    display: flex;
    @media(max-width: 415px){
        max-width: 40vh;
        width: 100%;
        max-height: 40vh;
        height: 100%;
    }
}
.underClock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // box-shadow: -5px 3px 1px rgb(95, 92, 92);
    border-radius: 50%;
    width: 370px;
    height: 370px;
    background-color: rgb(0, 0, 0);
    z-index: -99999;
    @media(max-width: 415px){
        max-width: 42vh;
        max-height: 42vh;
    }
}
.clock{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    position: relative;
    box-shadow: 
    inset 20px 50px 100px rgba(0,0,0,.2),
    inset 5px 10px 60px rgba(0,0,0,.5);
    .digitalFrame{
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translateY(-50%);
        border: 1px solid rgb(38, 43, 48);
        box-shadow: 
        inset 1px 1px 1px rgba(0,0,0,.2),
        inset 1px 1px 6px rgba(0,0,0,.5);
        border-radius: 5px;
        .digital{
            font-size: 19px;
        }
    }
    .logo{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    ul{
        list-style: none;
        padding: 0;
    }
    li{
        position: absolute;
        text-align: center;
        line-height: 20px;
        font-size: 30px;
        transition: .3s linear;
    }
    li:nth-child(1){
        right: 26%;
        top:10%;
    }
    li:nth-child(2){
        right: 10%;
        top:26%;
    }
    li:nth-child(3){
        right: 5%;
        top: 50%;
        transform: translateY(-50%);    
    }
    li:nth-child(4){
        right: 10%;
        top:69%;
    }
    li:nth-child(5){
        right: 26%;
        top: 85%;
    }
    li:nth-child(6){
        left: 50%;
        transform: translateX(-50%);
        bottom: 5%;
    }
    li:nth-child(7){
        left: 26%;
        top:85%;
    }
    li:nth-child(8){
        left: 10%;
        top:69%;
    }
    li:nth-child(9){
        left: 5%;
        top: 50%;
        transform: translateY(-50%);  
    }
    li:nth-child(10){
        left: 10%;
        top:26%;
    }
    li:nth-child(11){
        left: 26%;
        top:10%;
    }
    li:nth-child(12){
        left: 50%;
        transform: translateX(-50%);
        top: 5%;
    }
    .onRed{
        color: red;
        font-size: 40px;
    }
    .onBlack{
        color: black;
        font-size: 40px;
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .circle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: rgb(38, 43, 48);
        z-index: 4;
    }
    .second{
        position: absolute;
        top: 15%;
        left: 50%;
        background-color: rgb(255, 0, 0);
        width: 3px;
        height: 35%;
        transform-origin: 50% 100%;
        border-radius: 30% 30% 0 0;
        transform: rotate(0deg);
        transition: 1s linear;      
        z-index: 3;
    }
    .minute{
        position: absolute;
        top: 20%;
        left: 50%;
        background-color:rgb(62, 67, 71);
        width: 3px;
        height: 30%;
        transform-origin: 50% 100%;
        transform: rotate(0deg);
        transition: 1s linear;
        border-radius: 30% 30% 0 0;
        z-index: 1;
    }
    .hour{
        position: absolute;
        top: 25%;
        left: 50%;
        background-color: rgb(62, 67, 71);
        width: 3px;
        height: 25%;
        transform-origin: 50% 100%;
        border-radius: 30% 30% 0 0;
        transform: rotate(0deg);
        transition: 1s linear;   
        z-index: 2;
    }
}